<div class="header text-center">
  <a routerLink="/home"><img src="../../assets/img/logo.png" alt="" width="60" height="30" /></a>
</div>
<!--The content below is only a placeholder and can be replaced.-->
<!---<div class="container">
  

  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12" style="margin-top:70px;">
        <div class="form-group">
          <input type="text" class="form-control" aria-describedby="qrcodeData" placeholder="Data:" [(ngModel)]="qrdata">
          <small class="form-text text-muted">We'll never share your data with anyone else.. Your secret is safe with us. :)</small>
        </div>
    </div>
    <div class="col-md-2 col-sm-12" style="margin-top:70px;">
        <button type="button" class="btn btn-block btn-primary" (click)="generateQRData()" >Generate</button>
    </div>
  </div>
  <div class="row justify-content-center">
      <div #elem>
        <ngx-qrcode [qrc-value]="createdCode" class="img-responsive"></ngx-qrcode>
      </div>
      <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="qrImageData"></ng2-qrcode-reader>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-12">
      <a (click)="submitCode()" class="btn btn-block btn-primary">Submit Code</a>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
