
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
      <form>
        <div class="row m-5">
          <div class="col-md-4">
            <button class="btn btn-small btn-primary btn-block" (click)="setType('msg')">Message</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-small btn-primary btn-block" (click)="setType('file')">File</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-small btn-primary btn-block" (click)="setType('link')">Link</button>
          </div>
        </div>
        <div class="form-group" *ngIf="type=='msg'">
          <textarea [(ngModel)]="code.content" class="form-control" id="codeContent" [ngModelOptions]="{standalone:true}" [(ngModel)]="code.content">
          </textarea>
          <small class="form-text text-muted">Please be curse-sensitive with messages and clean :)</small>
        </div>
        <div class="form-group" *ngIf="type=='file'">
            <input type="file" class="form-control-file" id="codeContent" [ngModelOptions]="{standalone:true}" [(ngModel)]="code.content">
            <small class="form-text text-muted">Choose a file</small>
        </div>
        <div class="form-group" *ngIf="type=='link'">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">http://</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="link.com"  [ngModelOptions]="{standalone:true}" [(ngModel)]="code.content">
            </div>
            <small class="form-text text-muted">Links are welcome aswell.</small>
        </div>
        <div class="form-group" *ngIf="code.content">
          <input type="text" class="form-control" [(ngModel)]="code.recv" [ngModelOptions]="{standalone:true}" /> 
          <small class="form-text text-muted">Seperate receiver emails with a comma or specify this as 'public' for anyone to scan.</small>
        </div>
        <div class="m-4" *ngIf="code.recv">
          <div class="row">
            <div class="col">
                <button class="btn btn-small btn-primary btn-block" (click)="hasTime = !hasTime">Time Limiter</button>
            </div>
            <div class="col" *ngIf="type=='file'">
                <button class="btn btn-small btn-primary btn-block" (click)="toggleDL()">{{dlTxt}}</button>
            </div>
          </div>
        </div> 
        <div class="row" *ngIf="hasTime">
          <div class="col-md-9">
            <div class="form-group" >
              <label for="formControlRange">Time</label>
              <input type="range" value="1" min="1" max="60" class="form-control-range" [ngModelOptions]="{standalone:true}" id="formControlRange" value="8" [(ngModel)]="code.time" (change)="showValue()">
            </div>
          </div>
          <div class="col-md-3">
            <select value="minutes" [(ngModel)]="code.timescale" [ngModelOptions]="{standalone:true}" class="custom-select custom-select-lg mb-3">
                <option selected value="minutes">Minutes</option>
                <option value="hours">Hours</option>
                <option value="days">Days</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div #qr>
              <ngx-qrcode [qrc-value]="encodedQR" class="img-responsive"></ngx-qrcode>
              <ng2-qrcode-reader (result)="render($event)" [qrr-show]="false" [qrr-value]="qrImgData"></ng2-qrcode-reader>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-12">
            <button type="submit" class="btn btn-primary btn-block" (click)="createCode()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>