
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ([ngModel])="code.test_one">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" ([ngModel])="code.test_two">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" ([ngModel])="code.test_three">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-12">
      <button type="submit" class="btn btn-primary btn-block" (click)="createCode()">Submit</button>
    </div>
  </div>
</div>