<div class="header text-center">
  <img src="../../assets/img/logo.png" alt="" width="60" height="30" />
</div>
<br><br>
<div class="container">
  <div class="row justify-content-center" *ngIf="user.email">
    <div class="col-md-3 col-sm-12 text-center">
      <p class="userName">Hello, {{user.first_name}}</p>
      <button class="btn btn-primary btn-block">Create a code</button>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Codes
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Shares
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Shared with me
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
  
    </div>
    <div class="col-md-9 col-sm-12">
      
    </div>
  </div>
</div>