
<div class="container">
  <div class="row justify-content-center" *ngIf="user.email">
    <div class="col-md-3 col-sm-12 text-center">
      <p class="userName">Hello, {{user.first_name}}</p>
      <a (click)="logout()" class="btn btn-link btn-sm logoutBtn">Logout</a>
      <button class="btn btn-primary btn-block" routerLink="/create-code">Create a code</button>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          My Codes
          <span *ngIf="codes" class="badge badge-primary badge-pill">{{codes.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Shared Codes
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row" *ngIf="codes">
        <ng2-qrcode-reader (result)="render($event)" [qrr-show]="false" [qrr-value]="qrImageData"></ng2-qrcode-reader>
  
        <div class="col-4 m-3" *ngFor="let code of codes">
          <div class="card">
            <img src="{{code.data}}" class="card-img-top">
            <div class="card-body">
              <a (click)="renderCode(code)" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>